<?
$i = array_shift($search_fields);
$name = $i['name'];
?>
<div class='inline_search_results'>
  <?if($results && $results->count()):?>
    <ul class='inline_search_results_listing'>
    <?foreach($results as $i=>$res):?>
      <li><a href="<?=$res->permalink?>"><?=stripslashes($res->humanize())?></a></li>
    <?endforeach?>
    </ul>
    <?if($paginate && $results->total_pages > 1):?>
    <a href="/search/?search[<?=$name?>]=<?=urlencode($searched[$name])?>" class='inline_search_more_results'>View all results</a>
    <?endif?>
  <?endif?>
</div>